.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f1f4f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(13, 66, 240);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.msg-box {
  padding-top: 6px;
  margin-top: 10px;
  padding: 10px;
  max-width: 70%;
  text-align: left;
  margin-left: 10px;
  border-radius: 30px 30px 30px 30px;
  margin-right: 10px;
  color: rgb(245, 236, 236) !important;
  background: #6f98e4;
  float: left;
  }

.profane{
padding-left: 400px;
text-align: left;
padding-top: 6px;
padding-right: 400px;
/* max-width: 70%; */
font-family: "Lato-Regular";
font-size: large;
  }